{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="open-search" data-bs-toggle="collapse" data-bs-target="#{{ attributes.id }}">
  <span>search</span>
</div>
<form{{ attributes.addClass('search-form-main collapse') }}>
  {{ children }}
</form>
